<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--自动扫描用此标签扫描待扫描的包；xml配置时通过<bean>生成bean-->
    <!--<context:component-scan base-package="com.wdf.auto" />-->

    <bean id="testBean" class="com.wdf.auto.TestBean"/>
</beans>